name: Continuous Integration

on:
  push:
    branches:
      - master

concurrency:
  group: master
  cancel-in-progress: true

jobs:
  quality-assurance:
    name: Quality Assurance
    uses: ./.github/workflows/pr.yml

  deploy:
    name: deploy
    needs: quality-assurance
    runs-on: ubuntu-latest
    steps:

      - name: Run deploy
        run: |
          echo "hello"