name: Quality Assurance

on:
  pull_request:
  workflow_call:

jobs:
  quality-assurance:
    runs-on: ubuntu-latest

    env:
      DATABASE_NAME: olf_db
      DATABASE_USERNAME: olf_user
      DATABASE_PASSWORD: Boss2000
      DATABASE_HOST: localhost
      DATABASE_PORT: 5432

      REDIS_HOST: localhost
      REDIS_PORT: 6379

      DJANGO_SETTINGS_MODULE: backend.settings
      DJANGO_SECRET_KEY: test-secret-key
      DJANGO_DEBUG: "false"
      CI: "true"

    services:
      db:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: olf_db
          POSTGRES_USER: olf_user
          POSTGRES_PASSWORD: Boss2000
        options: >-
          --health-cmd="pg_isready -U olf_user -d olf_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
        ports:
          - 5432:5432

      redis:
        image: redis:8.0-alpine
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=10s
          --health-timeout=3s
          --health-retries=3
        ports:
          - 6379:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          pip install --upgrade pip
          pip install uv


      - name: Install dependencies
        run: |
          uv pip install --system  -r requirements.txt

      - name: Wait for database
        run: |
          until pg_isready -h localhost -p 5432 -U olf_user; do
            echo "Waiting for postgres..."
            sleep 2
          done

      - name: Run migrations
        run: |
          cd backend
          python manage.py migrate --noinput

#      - name: Run tests
#        run: |
#          cd backend
#          pytest -v
